html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #222;
}

nav{
  	height: 41px;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 15px;

}

nav ul {
	z-index: 999;
  	position: fixed;
  	top: 0;
  	width: 100%;
  	border: 1px solid #e7e7e7;
  	background-color: #333;
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
}

nav ul li {
  	float: left;
}

nav ul li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

nav ul li a:hover {
  	background-color: #111;
}

footer{
  	position: relative;
    bottom: 0;
  	width: 100%;
  	height: 40px;
  	padding: 0;
    background-color: #333;
    color: #eeeeee;
    line-height: 40px;
}

footer p{
    margin-left: 10px;
}

/* ===== GAME LIST BEGINING ===== */

#gamelist{
	  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#gamelist element{
    width: 800px;
    height: 300px;
    margin: 15px 15px;
    border: 2px white solid;
    overflow: hidden;
}

#gamelist element img{
    height: 300px;
    width: 250px;
}

.element_img{
    border: 1px white solid;
	width: 250px;
	height: 300px;
    float:left;
}

.element_desc{
	margin-left: 40px;
    float: left;
	color:white;
}

/* ===== GAME LIST END ===== */
/* ===== LOGIN PAGE BEGINING ===== */

#login_page{
	font-size: 22px;
	color:white;
	min-height:900px;
	text-align: center;
}

#login_page form{
    position: relative;
	text-align: center;
	width: 100%;
}

#login_page_button{
	font-size: 22px;
	margin: 20px;
	padding: 15px 25px;
    position: relative;
	color: white;
	background-color:#333;
	border: 2px white solid;
}

#login_page_button:hover{
	cursor: pointer;
	color: #333;
	background-color:white;
}

.login_page_input{
	font-size: 22px;
	margin: 20px 0px;
    position: relative;
    width: 300px;
}

#login_page main{
	position: relative;
	text-align: center;
	width: 100%;
}

#login_page main a{
	text-decoration:none;
	color: white;
	padding: 15px 25px;
	background-color:#333;
	border: 2px white solid;
}

#login_page main a:hover{
	cursor: pointer;
	color: #333;
	background-color:white;
}

/* ===== LOGIN PAGE END ===== */

main{

}
