<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Genre list</title>
		<meta name="Genre list" content="List of all Genres">
		<meta name="author" content="Szymon Lichota, Szymon Porębski, Damian Pawłowski">
		<link th:href="@{/styles/css/styles.css}" rel="stylesheet" />
	</head>

	<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/new-releases">New Releases</a></li>
			<li><a href="/games">Games</a></li>
			<li><a href="/genres">Genres</a></li>
			<li><a href="/publishers">Publishers</a></li>
			<li><a href="/games/sorted">Ranking</a></li>
			<li sec:authorize="isAuthenticated()"><a href="/web/users" class="admin_link">Users</a></li>
			<li sec:authorize="isAnonymous()" style="float:right"><a class="active" href="/auth/login">Log in</a></li>
			<li sec:authorize="isAuthenticated()" style="float:right"><a class="active" href="/auth/logout">Log out</a></li>
			<li sec:authorize="isAuthenticated()" style="float:right"><a class="active" href="/web/user">Profile</a></li>
			<li sec:authorize="isAuthenticated()" style="float:right"><a class="active" href="/rating/myreviews">My Reviews</a></li>
		</ul>
	</nav>

		<div id="game-list-switch" sec:authorize="hasRole('ROLE_ADMIN')" >
			<a href="/genres/admin">Switch to admin view</a>
		</div>


		<div id="game-list-admin">
			<ul>
				<li>
					<span style="width:80px">ID</span>
					<span style="width:800px">Name</span>
				</li>
				<li th:each="genre: ${allGenres}">
					<span style="width:80px" th:text="${genre.ID}"></span>
					<span style="width:800px" th:text="${genre.name}"></span>
				</li>
			</ul>
		</div>

		<footer>
			<p>Szymon Lichota, Szymon Porębski & Damian Pawłowski @2021</p>
		</footer>
	</body>
</html>
