<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Szymon Lichota, Szymon Porębski, Damian Pawłowski">
	<link rel="icon" th:href="@{/icons/favicon.png}" type="image/png">
	<title>Publishers - Admin</title>
	<link th:href="@{/styles/css/styles.css}" rel="stylesheet" />
</head>

<body>
	<div id="page-container">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/games/new">New Releases</a></li>
				<li><a href="/games">Games</a></li>
				<li><a href="/genres">Genres</a></li>
				<li><a href="/publishers">Publishers</a></li>
				<li><a href="/games/sorted">Ranking</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/web/users" class="admin_link">Users</a></li>
				<li sec:authorize="isAnonymous()" style="float:right"><a class="active" href="/auth/login">Log in</a></li>
				<li sec:authorize="isAuthenticated()" style="float:right"><a class="active" href="/auth/logout">Log out</a></li>
				<li sec:authorize="isAuthenticated()" style="float:right"><a class="active" href="/web/user">Profile</a></li>
				<li sec:authorize="isAuthenticated()" style="float:right"><a class="active" href="/rating/myreviews">My Reviews</a></li>
			</ul>
		</nav>

		<div id="game-list-switch" >
			<a href="/publishers/">Switch to normal view</a>
		</div>

		<div id="game-list-admin">
			<ul>
				<li>
					<span style="width:80px">ID</span>
					<span style="width:800px">Name</span>
					<span style="width:200px"><a href="/publisher/save">Add a new publisher</a></span>
				</li>
				<li th:each="publisher: ${allPublishers}">
					<span style="width:80px" th:text="${publisher.ID}"></span>
					<span style="width:800px" th:text="${publisher.name}"></span>

					<span style="width:65px"><a th:href="@{/publisher/edit/{id}(id=${publisher.ID})}">Edit</a></span>
					<span style="width:65px"><a th:if="${publisher.canBeDeleted}" th:href="@{/publisher/delete/{id}(id=${publisher.ID})}">Delete</a></span>

				</li>
			</ul>
		</div>

		<footer>
			<p>Szymon Lichota, Szymon Porębski & Damian Pawłowski @2021</p>
		</footer>
	</div>
</body>

</html>
