<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Szymon Lichota, Szymon Porębski, Damian Pawłowski">
    <link rel="icon" th:href="@{/icons/favicon.png}" type="image/png">
    <title>Ranking</title>
    <link th:href="@{/styles/css/styles.css}" rel="stylesheet" />
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/games/new">New Releases</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/genres">Genres</a></li>
            <li><a href="/publishers">Publishers</a></li>
            <li><a href="/games/sorted">Ranking</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/web/users" class="admin_link">Users</a></li>
            <li sec:authorize="isAnonymous()" style="float:right"><a class="active" href="/auth/login">Log in</a></li>
            <li sec:authorize="isAuthenticated()" style="float:right"><a class="active" href="/auth/logout">Log out</a></li>
            <li sec:authorize="isAuthenticated()" style="float:right"><a class="active" href="/web/user">Profile</a></li>
            <li sec:authorize="isAuthenticated()" style="float:right"><a class="active" href="/rating/myreviews">My Reviews</a></li>
        </ul>
    </nav>

    <div id="ranking_list">

        <form id="sorting_choice" action="/games/sorted/chose">
            <div style="float:left;height:100%">
                <input type="radio" id="descending" name="mode" value="Descending" checked="checked">
                <label class="sort_label" for="descending">🠗 Descending</label><br>
                <input type="radio" id="ascending" name="mode" value="Ascending">
                <label class="sort_label" for="ascending">🠕 Ascending</label><br>
            </div>
            <div style="float:right;height:100%">
                <input type="submit" id="submit" value="Sort">
            </div>
        </form>

        <element th:each="game: ${allGames}">
            <div th:if="${allGames.size()>0}">
                <img th:if="${order==0 && game==allGames.get(0)}" class="medal_rank" th:src="@{/images/golden_medal.png}" alt="Medal" >
                <img th:if="${order==1 && game==allGames.get(allGames.size()-1)}" class="medal_rank" th:src="@{/images/golden_medal.png}" alt="Medal" >
            </div>
            <div th:if="${allGames.size()>1}">
                <img th:if="${order==0 && game==allGames.get(1)}" class="medal_rank" th:src="@{/images/silver_medal.png}" alt="Medal" >
                <img th:if="${order==1 && game==allGames.get(allGames.size()-2)}" class="medal_rank" th:src="@{/images/silver_medal.png}" alt="Medal" >
            </div>
            <div th:if="${allGames.size()>2}">
                <img th:if="${order==0 && game==allGames.get(2)}" class="medal_rank" th:src="@{/images/bronze_medal.png}" alt="Medal" >
                <img th:if="${order==1 && game==allGames.get(allGames.size()-3)}" class="medal_rank" th:src="@{/images/bronze_medal.png}" alt="Medal" >
            </div>
            <div style="float:left">
                <div class="element_img">
                    <img class="ranking_game_cover" th:src="${game.pathCover}" alt="Game Cover" >
                </div>

                <div class="element_desc">
                    <h3 th:text="${game.nameGame}"></h3>
                    <h3 th:text="${game.genre.name}"></h3>
                    <h4 th:text="${game.dateRelease}"></h4>
                    <h4 th:text="${game.publisher.name}"></h4>
                </div>

                <a class="game_list_more_button" th:href="@{/game/{id}(id=${game.id})}">More ...</a>

            </div>
            <div class="game_list_rating">
                <div class="game_list_stars">
                    <span th:if="${game.starRating == 0}">★★★★★★★★★★</span>
                    <span th:if="${game.starRating == 10}" style="color:#d4af37">★★★★★★★★★★</span>

                    <span th:if="${game.starRating < 10 && game.starRating > 0}">
                            <span th:each="i : ${#numbers.sequence(1, game.starRating)}" style="color:#d4af37" th:text="'★'">
                            </span><span th:each="i : ${#numbers.sequence(1, 10-game.starRating)}" th:text="'★'"></span>
                    </span>
                </div>

                <span style="color:#d4af37" th:text="${game.averageValue}"></span><br><br>
                <span style="color:white; margin-bottom:116px; display:block;"><span style="color:#d4af37" th:text="${game.votes}"></span> Votes</span>


                <a class="game_list_more_button" th:if="${!game.isRated}" style="left: 650px;"
                   th:href="@{/rating/save/{id}(id=${game.id})}">Add Review</a>
                <a class="game_list_more_button" th:if="${game.isRated}" style="left: 650px;"
                   th:href="@{/rating/edit/{id}(id=${game.id})}">Edit Review</a>

            </div>
        </element>
    </div>

    <footer>
        <p>Szymon Lichota, Szymon Porębski & Damian Pawłowski @2021</p>
    </footer>
</body>

</html>
