<!DOCTYPE html>
<<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Publisher</title>
    <meta name="Save Publisher" content="Save Publisher">
    <meta name="author" content="Szymon Lichota, Szymon Porębski, Damian Pawłowski">
    <link th:href="@{/styles/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/new-releases">New Releases</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/web/genres">Genres</a></li>
            <li><a href="/web/publishers">Publishers</a></li>
            <li><a href="">Ranking</a></li>
            <li sec:authorize="isAnonymous() "style="float:right"><a class="active" href="/auth/login">Log in</a></li>
            <li sec:authorize="isAuthenticated() "style="float:right"><a class="active" href="/auth/logout">Log out</a></li>
            <li style="float:right"><a class="active" href="/web/users">Profile</a></li>
            <li style="float:right"><a class="active" href="">My Reviews</a></li>
        </ul>
    </nav>

    <div id="save_page">
        <h2>Add a new publisher</h2>
        <form method="post" th:action="@{/savePublisher/}" th:object="${newPublisher}">
            <div class="save_page_row">
                <label for="name">Publisher Name: </label>
                <input id="name" placeholder="Enter publisher name" required type="text" th:field="*{name}"/><br>
            </div>
            <input id="save_page_submit" type="submit" value="Create Publisher">
        </form>
    </div>

    <footer>
        <p>Szymon Lichota, Szymon Porębski & Damian Pawłowski @2021</p>
    </footer>
</body>
</html>
